
.pie-chart{
    width: 800px;
    height: 600px;

}
.top-part{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.report {
    display: flex;
    flex-direction: column;
     min-height: 100vh;

}

.report > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
.legend{
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10%;

}

.legend div{
    margin-bottom: 42px;
    
}

.legend div button{
    width: 34px;
    height: 20px;
    border: none;
    border-radius: 8px;
    margin-right: 9px;

}

.report{
    background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(34,171,195,1) 99%);
    
}


.recharts-surface{
    width: 800px;
} 

#filter{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 200px;
}

#filter button{
    width: 100px;
    height: 30px;
    background-color: #499C38;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 15px;
    border:none;
    border-radius: 5px;
    
}



.report h2{
   margin-top: 10%;
   font-size: 29px;
    color: whitesmoke;
      font-weight: 800;
    margin-left: 15%;
    width: 400px;
}


.pop-up-date{
     z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    color: gray;
     background-color: rgba(0, 0, 0, 0.4);
}

 .pop-up-date-content{
    background-color:wheat;
    border-radius: 5px;
    margin: 15% auto;
    padding: 20px;
    padding-top: 40px;
    width: 30%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    width: 300px;
    height: 300px;
    cursor: pointer
 }

.pop-up-date-content input[type=date]{
    display: block;
    margin-bottom: 10px;
    width: 100%;

}

.date-pop-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.date-pop-button button{
    width: 70px;
    height: 25px;
    border-radius: 4px;
    background-color: #D4E9ED;
    cursor: pointer;
}

#filter button:hover{
  background-color: green;
}

#filter button:active{
  background-color: darkgreen;
}


.report h3{
   font-size: 20px;
    color: whitesmoke;
      font-weight: 500;
      color: green;
    width: 100%;

    margin-top: 50%;
} 

.report h1{
     margin-top: 10%;
   font-size: 29px;
    color: whitesmoke;
      font-weight: 800;
    text-align: center;
}

.bar-chart{
      width: 800px;
    height: 400px;
    margin-top: 5%;

}


#no-report{
 display: flex;
 justify-content: space-around;

}

#no-report h4{
    width: 400px;
    margin-left: 15%;
    margin-top: 10%;
    font-size: 16px;
    font-weight: 600;
}
