
.pie-chart{
    width: 800px;
    height: 500px;
    margin-top: 12%;

    
}
.report {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;


}

.legend{
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15%;

}

.legend div{
    margin-bottom: 42px;
    
}


.legend div button{
        width: 34px;
    height: 20px;
    border: none;
    border-radius: 8px;
    margin-right: 9px;

}

.report{
    background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(34,171,195,1) 99%);
    
}


.recharts-surface{
    width: 800px;
} 